/* Group 29402 */

position: absolute;
width: 114.67px;
height: 144px;
left: calc(50% - 114.67px/2 - 844.67px);
top: 0px;



/* Rectangle 76 */

position: absolute;
width: 114.67px;
height: 144px;
left: 58px;
top: 0px;

background: #303030;
border-radius: 0px 0px 100px 100px;


/* Group 638 */

position: absolute;
left: 3.62%;
right: 91.58%;
top: 0.3%;
bottom: 98.17%;



/* Group 240 */

position: absolute;
left: 3.62%;
right: 91.58%;
top: 0.3%;
bottom: 98.17%;



/* Group 238 */

position: absolute;
left: 5.04%;
right: 92.99%;
top: 0.8%;
bottom: 98.68%;



/* Group 233 */

position: absolute;
left: 5.04%;
right: 94.14%;
top: 0.8%;
bottom: 98.68%;



/* Group 232 */

position: absolute;
left: 5.04%;
right: 94.14%;
top: 0.8%;
bottom: 98.68%;



/* Path 1037 */

position: absolute;
left: 5.04%;
right: 94.14%;
top: 0.8%;
bottom: 98.68%;

background: #CABAAE;


/* Group 235 */

position: absolute;
left: 6.16%;
right: 93.03%;
top: 0.8%;
bottom: 99.03%;



/* Group 234 */

position: absolute;
left: 6.16%;
right: 93.03%;
top: 0.8%;
bottom: 99.03%;



/* Path 1038 */

position: absolute;
left: 6.16%;
right: 93.03%;
top: 0.8%;
bottom: 99.03%;

background: #CABAAE;


/* Group 237 */

position: absolute;
left: 5.81%;
right: 92.99%;
top: 0.93%;
bottom: 98.68%;



/* Group 236 */

position: absolute;
left: 5.81%;
right: 92.99%;
top: 0.93%;
bottom: 98.68%;



/* Path 1039 */

position: absolute;
left: 5.81%;
right: 92.99%;
top: 0.93%;
bottom: 98.68%;

background: #CABAAE;


/* Group 239 */

position: absolute;
left: 3.62%;
right: 91.58%;
top: 0.3%;
bottom: 98.17%;



/* Path 1040 */

position: absolute;
left: 3.62%;
right: 95.94%;
top: 0.83%;
bottom: 99.05%;

background: #CABAAE;


/* Path 1041 */

position: absolute;
left: 3.78%;
right: 95.77%;
top: 0.69%;
bottom: 99.21%;

background: #CABAAE;


/* Path 1042 */

position: absolute;
left: 3.99%;
right: 95.58%;
top: 0.56%;
bottom: 99.34%;

background: #CABAAE;


/* Path 1043 */

position: absolute;
left: 4.27%;
right: 95.19%;
top: 0.45%;
bottom: 99.43%;

background: #CABAAE;


/* Path 1044 */

position: absolute;
left: 5%;
right: 94.59%;
top: 0.32%;
bottom: 99.55%;

background: #CABAAE;


/* Path 1045 */

position: absolute;
left: 5.63%;
right: 94.03%;
top: 0.3%;
bottom: 99.59%;

background: #CABAAE;


/* Path 1046 */

position: absolute;
left: 6.45%;
right: 93.14%;
top: 0.32%;
bottom: 99.56%;

background: #CABAAE;


/* Path 1047 */

position: absolute;
left: 6.94%;
right: 92.7%;
top: 0.37%;
bottom: 99.5%;

background: #CABAAE;


/* Path 1048 */

position: absolute;
left: 7.36%;
right: 92.23%;
top: 0.46%;
bottom: 99.43%;

background: #CABAAE;


/* Path 1049 */

position: absolute;
left: 7.62%;
right: 91.84%;
top: 0.56%;
bottom: 99.31%;

background: #CABAAE;


/* Path 1050 */

position: absolute;
left: 7.89%;
right: 91.67%;
top: 0.72%;
bottom: 99.21%;

background: #CABAAE;


/* Path 1051 */

position: absolute;
left: 7.99%;
right: 91.58%;
top: 0.84%;
bottom: 99.06%;

background: #CABAAE;


/* Path 1052 */

position: absolute;
left: 8.06%;
right: 91.74%;
top: 1.05%;
bottom: 98.9%;

background: #CABAAE;


/* Path 1053 */

position: absolute;
left: 7.96%;
right: 91.58%;
top: 1.2%;
bottom: 98.67%;

background: #CABAAE;


/* Path 1054 */

position: absolute;
left: 7.76%;
right: 91.79%;
top: 1.36%;
bottom: 98.54%;

background: #CABAAE;


/* Path 1055 */

position: absolute;
left: 7.55%;
right: 92.02%;
top: 1.49%;
bottom: 98.41%;

background: #CABAAE;


/* Path 1056 */

position: absolute;
left: 7.14%;
right: 92.32%;
top: 1.57%;
bottom: 98.3%;

background: #CABAAE;


/* Path 1057 */

position: absolute;
left: 6.62%;
right: 92.97%;
top: 1.68%;
bottom: 98.19%;

background: #CABAAE;


/* Path 1058 */

position: absolute;
left: 6.06%;
right: 93.6%;
top: 1.72%;
bottom: 98.17%;

background: #CABAAE;


/* Path 1059 */

position: absolute;
left: 5.3%;
right: 94.31%;
top: 1.7%;
bottom: 98.19%;

background: #CABAAE;


/* Path 1060 */

position: absolute;
left: 4.84%;
right: 94.81%;
top: 1.63%;
bottom: 98.23%;

background: #CABAAE;


/* Path 1061 */

position: absolute;
left: 4.36%;
right: 95.24%;
top: 1.57%;
bottom: 98.32%;

background: #CABAAE;


/* Path 1062 */

position: absolute;
left: 3.94%;
right: 95.51%;
top: 1.46%;
bottom: 98.41%;

background: #CABAAE;


/* Path 1063 */

position: absolute;
left: 3.75%;
right: 95.81%;
top: 1.35%;
bottom: 98.56%;

background: #CABAAE;


/* Path 1064 */

position: absolute;
left: 3.63%;
right: 95.94%;
top: 1.21%;
bottom: 98.69%;

background: #CABAAE;


/* Path 1065 */

position: absolute;
left: 3.79%;
right: 96.02%;
top: 1.05%;
bottom: 98.9%;

background: #CABAAE;


/* Vector */

position: absolute;
width: 114.67px;
height: 144px;
left: 58px;
top: 0px;

background: #CABAAE;
box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.35);
